<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{$title} - Blog Demo</title>
  <!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/print.css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/ie.css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/form.css" />
	
	
</head>
<body>
  <div class="container" id="page">
    <div id="header"><!-- 網站名稱 -->
	  <div id="logo">部落格展示</div>
	</div>
	
	<div id="mainmenu"><!-- 選單 -->
	  <ul>
		<li><a href="{$base_url}">首頁</a></li>
		<li class="active"><a href="{$base_url}index.php/about">關於</a></li>
		<li><a href="{$base_url}index.php/contact">聯絡</a></li>
		<li>
		  {if $smarty.cookies.username}
			<a href="{$base_url}index.php/logout">登出({$smarty.cookies.username})</a>
		  {else}
			<a href="{$base_url}index.php/login">登入</a>
		  {/if}	
		</li>
	  </ul>	
	</div>
	
	<div class="breadcrumbs"><!-- 麵包屑 -->
	  <a href="index">首頁</a> &raquo; <span>關於</span>
	</div>
	
	<div class="container">
	  <div id="content">
		<h1>關於</h1>
		<p>這是關於我的部落格網站.</p>
	  </div>
	</div>
	
	<div id="footer">Copyright &copy; 2012 - All Rights Reserved. - Powered by <a target="_BLANK" href="http://www.codeigniter.org.tw">CodeIgniter</a></div>
  </div>
</body>
</html>