<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{$title} - Blog Demo</title>
  <!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/print.css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/ie.css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{$base_url}/application/views/css/form.css" />
	<script>
	{literal}
	function ChangeSelectByValue(ddlID, value) {
		var ddl = document.getElementById(ddlID);
		for (var i = 0; i < ddl.options.length; i++) {
			if (ddl.options[i].value == value) {
				if (ddl.selectedIndex != i) {
					ddl.selectedIndex = i;
				}
				break;
			}
		}
	}
	{/literal}
	</script>
	
</head>
<body>
  <div class="container" id="page">
    <div id="header"><!-- 網站名稱 -->
	  <div id="logo">部落格展示</div>
	</div>
	
	<div id="mainmenu">
	  <ul>
		<li><a href="{$base_url}">首頁</a></li>
		<li><a href="{$base_url}index.php/about">關於</a></li>
		<li><a href="{$base_url}index.php/contact">聯絡</a></li>
		<li>
		  {if $smarty.cookies.username}
			<a href="{$base_url}index.php/logout">登出({$smarty.cookies.username})</a>
		  {else}
			<a href="{$base_url}index.php/login">登入</a>
		  {/if}	
		</li>
	  </ul>	
	</div><!-- mainmenu -->
	
	<div class="breadcrumbs">
	   <a href="{$base_url}">首頁</a> &raquo; <a href="{$base_url}index.php/comment">評論</a> &raquo; <span>更新評論 #{$blog.id|escape}</span>
	</div><!-- breadcrumbs -->
	
	<div class="container">
	  <div class="span-18">
	    <div id="content">
		  <h1>更新評論 #{$blog.id|escape}</h1>
		  
			<div class="form">
			  {$form_string}
				<p class="note">欄位有 <span class="required">*</span> 為必填。</p>
				<div class="errorMessage">{$validation_errors}</div>
				<div class="row">
				  <label for="author" class="required">姓名 <span class="required">*</span></label>
				  <input size="80" maxlength="128" name="author" id="author" type="text" value="{$blog.author|escape}" />
				</div>
				
				<div class="row">
				  <label for="email" class="required">Email <span class="required">*</span></label>
				  <input size="80" maxlength="128" name="email" id="email" type="text" value="{$blog.email|escape}" />
				</div>

				<div class="row">
				  <label for="url" class="required">網站</label>
				  <input size="80" maxlength="128" name="url" id="url" type="text" value="{$blog.url|escape}" />
				</div>

				<div class="row">
				  <label for="content_name" class="required">內文 <span class="required">*</span></label>
				  <textarea rows="10" cols="70" name="content" id="content_name">{$blog.content}</textarea>
				</div>

				<div class="row buttons">
				  <input type="submit" name="yt0" value="更新" />
				</div>

			  </form>
			</div><!-- form -->
		  
		</div><!-- content -->
	  </div>
	  
		<div class="span-6 last">
		  <div id="sidebar"><!-- sidebar -->
		  
			{if $smarty.cookies.username}
			<div class="portlet" id="yw2">
			  <div class="portlet-decoration">
				<div class="portlet-title">{$smarty.cookies.username}</div>
			  </div>
			  <div class="portlet-content">
				<ul>
				  <li><a href="{$base_url}index.php/post/create">建立新文章</a></li>
				  <li><a href="{$base_url}index.php/post/admin">管理文章</a></li>
				  <li><a href="{$base_url}index.php/comment">需要批准的評論</a> ({$approve_count|escape})</li>
				  <li><a href="{$base_url}index.php/logout">登出</a></li>
				</ul>
			  </div>
			</div>
			{/if}
		  
			<div class="portlet">
			  <div class="portlet-decoration">
				<div class="portlet-title">標籤</div>
			  </div>
			  <div class="portlet-content">
				{foreach from=$tagData item="entry4" name="foo4"}
				<span class="tag" style="font-size:{$entry4.font_size}pt"><a href="{$base_url}index.php/posts/index/{$entry4.id|escape}">{$entry4.name|escape}</a></span>
				{/foreach}
			  </div>
			</div>
			
			<div class="portlet" id="yw3">
			  <div class="portlet-decoration">
				<div class="portlet-title">最近的評論</div>
			  </div>
			  <div class="portlet-content">
				<ul>
				  {foreach from=$recent item="entry2" name="foo2"}
				  <li>{$entry2.author|escape} on <a href="{$base_url}index.php/index/post/{$entry2.post_id|escape}#c{$entry2.id|escape}">{$entry2.title|escape}</a></li>
				  {/foreach}
				</ul>
			  </div>
			</div>
			
		  </div><!-- sidebar -->
		</div>
	</div>
	
	<div id="footer">Copyright &copy; 2012 - All Rights Reserved. - Powered by <a target="_BLANK" href="http://www.codeigniter.org.tw">CodeIgniter</a></div><!-- footer -->
  </div><!-- page -->
</body>
{$editJs}
</html>